.date{
	position: relative;
	display: flex;
	align-items: center;
	height: 55px;
	margin-right: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	border-top: 2px solid $color__primary;
	border-bottom: 2px solid $color__primary;
	// pseudo-classes

	// mods

	// pseudo-elements
	&:after{
		content: "";
		position: absolute;
		top: -2px;
		left: 100%;
		width: 19px;
		height: 59px;
		background-image: url('assets/img/arrow-right.png');
		background-repeat: no-repeat;
	}
	// elements
	&__{
		&img{
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 60px;
			height: 100%;

			background-color: $color__primary;
			&:before{
				content: "";
				position: absolute;
				top: 0;
				right: 100%;
				border-top: 28px solid transparent;
				border-right: 20px solid $color__primary;
				border-bottom: 28px solid transparent;

			}
			&:after{
				content: "";
				position: absolute;
				top: 0;
				left: 100%;
				border-top: 28px solid transparent;
				border-left: 20px solid $color__primary;
				border-bottom: 28px solid transparent;

			}
		}
		&body{
			display: flex;
			padding: 0 20px 0 30px;
		}
		&number{
			position: relative;
			padding-left: 10px;
			font-size: 42px;
			&:not(:last-child){
				padding-right: 50px;
				&:before{
					position: absolute;
					top: 15%;
					right: 0;
					content: "";
					width: 34px;
					height: 2px;
					background-color: $color__primary;
					transform: rotate(55deg);
				}
				&:after{
					position: absolute;
					bottom: 15%;
					right: 0;
					content: "";
					width: 34px;
					height: 2px;
					background-color: $color__primary;
					transform: rotate(-55deg);
				}
			}
		}
	}
}
