<div class="date">
	<div class="date__img">
		<i class="i-calendar date__icon"></i>
	</div>
	<div class="date__body">
		<div class="date__number">12</div>
		<div class="date__number">Янв</div>
		<div class="date__number">2016</div>
	</div>
</div>
