.flight{
	--bg: rgba(0,0,0,0.2);
	--border: $color__primary;
	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&main{
			display: flex;
			justify-content: space-between;
		}
		&left{
			width: 300px;
		}
		&center{
			width: calc(100% - 840px);
		}
		&right{
			width: 480px;
		}
		&login{
			min-width: 100%;
			max-height: 100px;
		}
		&number{
			display: flex;
			justify-content: center;
			align-items: stretch;
			margin-top: 10px;
			font-size: 320px;
			.trapeze{
				height: auto;
			}
			&-{
				&body{
					width: 100%;
					text-align: center;
					font-size: 320px;
					background-color: rgba(0,0,0,0.2);
					box-shadow: 0 2px 0 0 $color__primary, 0 -2px 0 0 $color__primary;
				}
			}
		}
		&line{
			display: flex;
			align-items: center;
			height: 100px;

			&--{
				&status{
					--bg: rgba(0,0,0,0.2);
					--border: $color__secondary;
					.flight__line-body{
						font-size: 46px;
						color: $color__secondary;
						box-shadow: 0 -2px 0 0 $color__secondary, 0 2px 0 0 $color__secondary;
					}
					.flight-title__top{
						border-color: $color__secondary;
						box-shadow: 0 -2px 0 0 $color__secondary;
						background-color: color($color__secondary l(+25%));
					}
					.flight-title__bottom{
						border-color: $color__secondary;
						box-shadow: 0 2px 0 0 $color__secondary;
						background-color: color($color__secondary l(-25%));
					}
					.flight-title__name{
						border-color: $color__secondary;
						background-color: color($color__secondary a(.75));
					}
				}
			}

			&:not(:first-child){
				margin-top: 10px;
			}
			&-{
				&body{
					box-shadow: 0 -2px 0 0 $color__primary, 0 2px 0 0 $color__primary;
					flex: 1;
					align-self: stretch;
					display: flex;
					flex-direction: column;
					justify-content: center;

					font-size: 38px;
					padding-left: 40px;

					background-color: rgba(0,0,0,0.2);
				}
			}
		}
		&time{
			height: 100%;
			&-{
				&title{
					max-height: 100px;
					min-width: 100%;
				}
				&number{
					display: flex;
					justify-content: center;
					align-items: center;
					height: calc(100% - 110px);
					margin-top: 10px;
					font-size: 120px;
				}
				&content{
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: rgba(0,0,0,0.2);
					box-shadow: 0 2px 0 0 $color__primary, 0 -2px 0 0 $color__primary;
				}
			}
		}
		&name{
			display: flex;
			align-items: center;
			&-{
				&body{
					margin-left: 15px;
				}
				&miss{
					font-size: 46px;
					color: #fff;
				}
			}
		}
		&description{
			display: flex;
			justify-content: space-between;
			align-items: stretch;
			margin-top: 30px;
			.trapeze{
				height: auto;
			}
			&-{
				&body{
					padding: 30px;
					font-size: 32px;
					line-height: 34px;
					background-color: rgba(0,0,0,0.2);
					box-shadow: 0 2px 0 0 $color__primary, 0 -2px 0 0 $color__primary;
				}
			}
		}
		&title{
			margin-left: 20px;
			margin-top: 30px;
			font-size: 36px;
		}
		&next{
			margin-top: 20px;
		}
	}
}
.flight-title{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 270px;
	height: 100%;
	font-size: 24px;
	color: #fff;

	&._trapeze{
		perspective: 150px;
	}
	&._trapeze &__{
		&top,
		&bottom{
			// height: 18px;
		}
		&top{
			padding-top: 7px;
			margin-top: -7px;
			transform: rotateX(.1turn);
		}
		&bottom{
			padding-bottom: 7px;
			margin-bottom: -7px;
			transform: rotateX(-.1turn);
		}
		&name{
			padding-left: 0;
			text-align: center;
		}
	}

	&__{
		&top,
		&bottom{
			height: 10px;
			border-left: 2px solid;
			border-right: 2px solid;
			border-color: $color__primary;
		}
		&top{
			box-shadow: 0 -2px 0 0 $color__primary;
			background-color: color($color__primary l(+25%));

			transform: skewX(-45deg);
			transform-origin: left bottom;
		}
		&bottom{
			box-shadow: 0 2px 0 0 $color__primary;
			background-color: color($color__primary l(-25%));

			transform: skewX(45deg);
			transform-origin: left top;
		}
		&name{
			display: flex;
			flex-direction: column;
			justify-content: center;
			flex: 1;
			padding-left: 25px;
			border-left: 2px solid;
			border-right: 2px solid;
			border-color: $color__primary;

			background-color: color($color__primary a(.75));
		}
	}
}
