<div class="flight">
	<div class="flight__main">
		<div class="flight__left">
			<div class="flight__login flight-title _trapeze">
					<div class="flight-title__top"></div>
					<div class="flight-title__name flight__login-name">ВХОД</div>
					<div class="flight-title__bottom"></div>
			</div>
			<div class="flight__number">
				<import src="trapeze"></import>
				<div class="flight__number-body">9</div>
				<import src="trapeze" class=" _right"></import>
			</div>
		</div>
		<div class="flight__center">
			<div class="flight__line">
				<div class="flight__line-title flight-title">
					<div class="flight-title__top"></div>
					<div class="flight-title__name">ТИП РЕЙСА</div>
					<div class="flight-title__bottom"></div>
				</div>
				<div class="flight__line-body">
					<div class="flight__name">
						<div class="flight__name-icon">
							<i class="i-space"></i>
						</div>
						<div class="flight__name-body">
							<div class="flight__name-miss">МИССИЯ:</div>
							<div class="flight__name-title">ЗАПУСК СТАНЦИИ</div>
						</div>
					</div>
				</div>
				<import src="trapeze" class=" _right"></import>
			</div>
			<div class="flight__line">
				<div class="flight__line-title flight-title">
					<div class="flight-title__top"></div>
					<div class="flight-title__name">НАПРАВЛЕНИЕ</div>
					<div class="flight-title__bottom"></div>
				</div>
				<div class="flight__line-body">ВОКРУГ ЗЕМЛИ</div>
				<import src="trapeze" class=" _right"></import>
			</div>
			<div class="flight__line">
				<div class="flight__line-title flight-title">
					<div class="flight-title__top"></div>
					<div class="flight-title__name">ДЛИТЕЛЬНОСТЬ</div>
					<div class="flight-title__bottom"></div>
				</div>
				<div class="flight__line-body">1 час 30 мин</div>
				<import src="trapeze" class=" _right"></import>
			</div>
			<div class="flight__line flight__line--status">
				<div class="flight__line-title flight-title">
					<div class="flight-title__top"></div>
					<div class="flight-title__name">СТАТУС</div>
					<div class="flight-title__bottom"></div>
				</div>
				<div class="flight__line-body">ПОСАДКА</div>
				<import src="trapeze" class=" _right"></import>
			</div>
		</div>
		<div class="flight__right">
			<div class="flight__time">
				<div class="flight__time-title flight-title _trapeze">
					<div class="flight-title__top"></div>
					<div class="flight-title__name flight__time-wrap">ВРЕМЯ ДО ОТПРАВКИ</div>
					<div class="flight-title__bottom"></div>
				</div>
				<div class="flight__time-number">
					<import src="trapeze"></import>
					<div class="flight__time-content">04:45</div>
					<import src="trapeze" class=" _right"></import>
					</div>
			</div>
		</div>
	</div>
	<div class="flight__description">
		<import src="trapeze"></import>
		<div class="flight__description-body">Вас ждет увлекательное и познавательное путешествие на настоящую космическую станцию, Вы узнаете как она работает изнутри, какие механизмы и системы необходимы для полного обеспечения жизни человека в космосе. Вас ждет увлекательное и познавательное путешествие на настоящую космическую станцию.</div>
		<import src="trapeze" class=" _right"></import>
	</div>
	<div class="flight__bottom">
		<div class="flight__title">СЛЕДУЮЩИЙ РЕЙС</div>
		<div class="flight__next">
			<import src="voyage"></import>
		</div>
	</div>
</div>
