[class^='i-'],
[class*=' i-']{
	display: inline-flex;
}
[class^='i-']::before,
[class*=' i-']::before{
	content: '';
	background-image: url(assets/img/icons.png);
}
.i-calendar:before {
	width: 32px;
	height: 30px;
	background-position: -326px -69px;
}
.i-clock:before {
	width: 36px;
	height: 36px;
	background-position: -285px -69px;
}
.i-logo:before {
	width: 491px;
	height: 64px;
	background-position: 0px 0px;
}
.i-man:before {
	width: 61px;
	height: 53px;
	background-position: -87px -69px;
}
.i-radar:before {
	width: 61px;
	height: 53px;
	background-position: -153px -69px;
}
.i-sing:before {
	width: 27px;
	height: 27px;
	background-position: -363px -69px;
}
.i-space-small:before {
	width: 61px;
	height: 53px;
	background-position: -219px -69px;
}
.i-space:before {
	width: 82px;
	height: 71px;
	background-position: 0px -69px;
}
