.g-page{
	box-sizing: border-box;
	position: relative;
	font-size: $font-size;
	font-family: $font-family--primary;
	font-weight: 700;
	overflow-x: hidden;
	min-width: 1920px;
	color: $color__primary;
	background-repeat: no-repeat;
	background-size: cover;
	&:after{
		content: "";
		position: fixed 0 0 0 0;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: -1;
	}
}
