.header{
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin: 40px 0;
	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&info{
			display: flex;
		}
	}
}
