// direct
$color__white: #fff;
$color__black: #000;
$color__blue: #00ccff;
$color__green: #99ff00;

// abstract
$color__primary: $color__blue;
$color__secondary: $color__green;

// font
$color__font_primary: $color__black;
$color__font_secondary: $;
