// families

$font-family--sans-serif: Europe, Arial, Helvetica, sans-serif;
$font-family--monospace: monospace;
$font-family--serif: 'Times New Roman', Times, serif;

$font-family--primary: $font-family--sans-serif;
$font-family--secondary: $font-family--serif;

// sizes
$font-size: 16px;
