<div class="head">
	<import src="trapeze"></import>
	<div class="head__wrap">
		<div class="head__time">Отправление</div>
		<div class="head__type">Тип рейса</div>
		<div class="head__direction">Направление</div>
		<div class="head__price">Стоимость</div>
		<div class="head__duration">Длительность</div>
		<div class="head__status">Статус</div>
	</div>
	<import src="trapeze" class=" _right"></import>
</div>
