.head{
	--bg: color($color__primary a(.5));
	--border: $color__primary;

	display: flex;
	align-items: center;
	height: 50px;
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;

	// pseudo-classes

	// mods

	// pseudo-elements

	// elements
	&__{
		&wrap{
			display: flex;
			align-items: center;
			width: 100%;
			height: 100%;
			background-color: color($color__primary a(.5));
			box-shadow: 0 2px 0 0 $color__primary, 0 -2px 0 0 $color__primary;
		}
		&time{
			position: relative;
			box-sizing: border-box;
			width: 200px;
			text-align: center;
			&:before{
				content: "";
				z-index: 2;
				position: absolute;
				top: -30%;
				right: -12%;
				width: 33px;
				height: 2px;
				background-color: $color__primary;
				transform: rotate(55deg);
			}
			&:after{
				content: "";
				z-index: 2;
				position: absolute;
				bottom: -30%;
				right: -12%;
				width: 33px;
				height: 2px;
				background-color: $color__primary;
				transform: rotate(-55deg);
			}
		}
		&type{
			position: relative;
			box-sizing: border-box;
			width: 530px;
			padding-left: 50px;
			&:before{
				content: "";
				z-index: 2;
				position: absolute;
				top: -30%;
				right: 0;
				width: 33px;
				height: 2px;
				background-color: $color__primary;
				transform: rotate(55deg);
			}
			&:after{
				content: "";
				z-index: 2;
				position: absolute;
				bottom: -30%;
				right: 0;
				width: 33px;
				height: 2px;
				background-color: $color__primary;
				transform: rotate(-55deg);
			}
		}
		&direction{
			position: relative;
			box-sizing: border-box;
			width: 340px;
			padding-left: 25px;
			&:before{
				content: "";
				z-index: 2;
				position: absolute;
				top: -30%;
				right: -2%;
				width: 33px;
				height: 2px;
				background-color: $color__primary;
				transform: rotate(55deg);
			}
			&:after{
				content: "";
				z-index: 2;
				position: absolute;
				bottom: -30%;
				right: -2%;
				width: 33px;
				height: 2px;
				background-color: $color__primary;
				transform: rotate(-55deg);
			}
		}
		&price{
			position: relative;
			box-sizing: border-box;
			width: 160px;
			padding-left: 10px;
			&:before{
				content: "";
				z-index: 2;
				position: absolute;
				top: -30%;
				right: -4%;
				width: 33px;
				height: 2px;
				background-color: $color__primary;
				transform: rotate(55deg);
			}
			&:after{
				content: "";
				z-index: 2;
				position: absolute;
				bottom: -30%;
				right: -4%;
				width: 33px;
				height: 2px;
				background-color: $color__primary;
				transform: rotate(-55deg);
			}
		}
		&duration{
			position: relative;
			box-sizing: border-box;
			width: 300px;
			padding-left: 35px;
			&:before{
				content: "";
				z-index: 2;
				position: absolute;
				top: -30%;
				right: -2%;
				width: 33px;
				height: 2px;
				background-color: $color__primary;
				transform: rotate(55deg);
			}
			&:after{
				content: "";
				z-index: 2;
				position: absolute;
				bottom: -30%;
				right: -2%;
				width: 33px;
				height: 2px;
				background-color: $color__primary;
				transform: rotate(-55deg);
			}
		}
		&status{
			position: relative;
			box-sizing: border-box;
			text-align: center;
			width: calc(100% - 1530px);
		}
	}
}
