<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<title>Cosmoport</title>
	<link rel="stylesheet" href="styles.css">
	<link rel="shortcut icon" href="img/favicon.png">
	<import src="g-errors--head"></import>

	<script src="async.app.js" async></script>
	<script src="defer.app.js" defer></script>
</head>
