<div class="trapeze">
	<import src="modules/i-icons/frames.svg" class="trapeze__triangle _first"></import>
	<div class="trapeze__main"></div>
	<import src="modules/i-icons/frames.svg" class="trapeze__triangle _last"></import>
</div>
