.trapeze{
	display: flex;
	flex-direction: column;
	size: 12px 100%;

	// mods
	&._right{
		transform: rotate(.5turn);
	}

	// elements
	&__{
		&main{
			z-index: 2;
			flex: 1;

			background-color: var(--bg);
			border-left: 2px solid var(--border);
		}
		&triangle{

			&._first{
				margin-top: -2px;
			}
			&._last{
				margin-bottom: -2px;
				transform: rotateX(-.5turn);
			}
		}
	}
}
