<div class="voyage voyage--cancel">
	<import src="trapeze"></import>
	<div class="voyage__wrapper">
		<div class="voyage__time">9:00</div>
		<div class="voyage__type">
			<import src="trapeze"></import>
			<div class="voyage__type-wrap">
				<div class="voyage__type-icon">
					<i class="i-man"></i>
				</div>
				<div class="voyage__type-body">
					<div class="voyage__type-miss">МИССИЯ:</div>
					<div class="voyage__type-title">ЗАПУСК СТАНЦИИ</div>
				</div>
			</div>
			<import src="trapeze" class=" _right"></import>
		</div>
		<div class="voyage__direction">ЛУНА</div>
		<div class="voyage__price">20 <i class="i-sing voyage__price-icon"></i></div>
		<div class="voyage__duration">1 час 20 мин</div>
		<div class="voyage__status">ОТМЕНЕН</div>
	</div>
	<import src="trapeze" class=" _right"></import>
</div>
