.voyage{
	--bg: color($color__primary a(.2));
	--border: $color__primary;
	display: flex;
	height: 75px;
	margin-top: 10px;

	// pseudo-classes

	// mods
	&--{
		&finish{
			opacity: 0.5;
			--border: #999;
			--bg: color(#000 a(.5));
			color: #999;
			.voyage__price-icon{
				filter: grayscale(1);
			}
			.voyage__type-miss{
				color: #999 !important;
			}
			.voyage__type-icon{
				filter: invert(0.5);
			}
			.voyage__type{
				--border: #999 !important;
			}
		}
		&landing{
			.voyage__status{
				color: #99ff00;
			}
		}
		&cancel{
			.voyage__status{
				color: #ff1800;
			}
		}
		&pre-order{
			.voyage__status{
				color: #ffea02;
			}
		}
	}
	// pseudo-elements

	// elements
	&__{
		&wrapper{
			display: flex;
			flex: 1;

			box-shadow: 0 2px 0 0 var(--border), 0 -2px 0 0 var(--border);

			background-color: var(--bg);
		}
		&icon{
			size: 12px 80px;
			margin-top: -3px;

			&._right{
				transform: rotate(.5turn);
			}
		}
		&time{
			width: 200px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 36px;
		}
		&type{
			box-sizing: border-box;
			display: flex;
			align-items: center;
			width: 530px;
			padding: 0 15px;

			--bg: transparent;
			--border: #fff;

			&-{
				&wrap{
					width: 100%;
					height: 100%;
					display: flex;
					align-items: center;
					box-shadow: 0 2px 0 0 var(--border), 0 -2px 0 0 var(--border);
				}
				&body{
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					margin-left: 15px;
				}
				&miss{
					font-size: 36px;
					color: #fff;
				}
				&title{
					font-size: 30px;
				}
			}
		}
		&direction{
			position: relative;
			box-sizing: border-box;
			width: 340px;
			padding-left: 25px;
			display: flex;
			align-items: center;
			font-size: 32px;
			&:before{
				position: absolute;
				top: 36%;
				right: 0;
				content: "";
				width: 25px;
				height: 2px;
				background-color: var(--border);
				transform: rotate(55deg);
			}
			&:after{
				position: absolute;
				bottom: 36%;
				right: 0;
				content: "";
				width: 25px;
				height: 2px;
				background-color: var(--border);
				transform: rotate(-55deg);
			}
		}
		&price{
			position: relative;
			box-sizing: border-box;
			width: 160px;
			padding-left: 40px;
			display: flex;
			align-items: center;
			font-size: 32px;
			&-{
				&icon{
					margin-left: 10px;
				}
			}
			&:before{
				position: absolute;
				top: 36%;
				right: 0;
				content: "";
				width: 25px;
				height: 2px;
				background-color: var(--border);
				transform: rotate(55deg);
			}
			&:after{
				position: absolute;
				bottom: 36%;
				right: 0;
				content: "";
				width: 25px;
				height: 2px;
				background-color: var(--border);
				transform: rotate(-55deg);
			}
		}
		&duration{
			position: relative;
			box-sizing: border-box;
			width: 300px;
			padding-left: 30px;
			display: flex;
			align-items: center;
			font-size: 32px;
			&:before{
				position: absolute;
				top: 36%;
				right: 0;
				content: "";
				width: 25px;
				height: 2px;
				background-color: var(--border);
				transform: rotate(55deg);
			}
			&:after{
				position: absolute;
				bottom: 36%;
				right: 0;
				content: "";
				width: 25px;
				height: 2px;
				background-color: var(--border);
				transform: rotate(-55deg);
			}
		}
		&status{
			width: calc(100% - 1530px);
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 32px;
		}
	}
}
